[Unit]
Description = HBNB
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /run/hbnb/hbnb.pid
User = ubuntu
Group = ubuntu
WorkingDirectory = /home/ubuntu/AirBnB_clone_v4
ExecStartPre = /bin/mkdir /run/hbnb
ExecStartPre = /bin/chown -R ubuntu:ubuntu /run/hbnb
ExecStart = gunicorn -workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app --error-logfile /tmp/airbnb-error.log
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStopPost = /bin/rm -rf /run/hbnb
PrivateTmp = false 

[Install]
WantedBy = multi-user.target
